/* Font family
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
*/
/* #Title{
  f
} */

*{
  margin:auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(213, 183, 242);
}

/* Book */
.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: aliceblue;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.4s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid rgb(213, 183, 242);
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(-180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Control button */
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

.button:hover .material-symbols-outlined {
  color: #636363;
}

.material-symbols-outlined {
  font-size: 50px;
  color: grey;
}

/* Paper stack order */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}
